accelerate==0.30.1
datasets==2.20.0
deepspeed==0.12.6
evaluate==0.4.2
flash_attn==2.5.9.post1
matplotlib==3.8.0
mosestokenizer==1.2.1
nltk==3.8.1
numpy==1.25.0
openai==1.34.0
packaging==24.1
pandas==2.2.2
pyarrow==16.1.0
rouge_score==0.1.2
scipy==1.11.0
torch==2.2.1
transformers==4.36.2